{% extends "admin/base.html.twig"%}
{% block title %}Modification de la Réservation N°{{booking.id}}{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 clas="my-5">Modification de la Réservation {{booking.id}}</h1>
{{form_start(form)}}
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Information Général</h4>
                </div>
                <div class="card-body">
                {{form_row(form.startDate)}}
                {{form_row(form.endDate)}}
                {{form_row(form.comment)}}                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Informations Particulères</h4>
                </div>
                <div class="card-body">
                {{form_row(form.booker)}}
                {{form_row(form.ad)}}                
                </div>
            </div>
        </div>
        
    </div>
<div class="text-center"><button type="submit" class="btn btn-success"><i class="fas fa-check"></i>Confirmer la modification</button></div>
{{form_end(form)}}
</div>
{% endblock %}